//Colores
$azulOscuro: #1e2d3b;
$azul: #3d5975;
$amarillo: #edcd1f;
$amarilloOscuro: #ce980d;
$blanco: #fff;
$negro: #1f2022;
$gris: #f5f5f5;

//Tipografía
$fuente: 'Open Sans', sans-serif;
$bold: 600;
$regular: 400;
$light: 300;
